.login-container {
  height: 100vh;
}

.login-sub-container {
  width: 35%;
  border-radius: 8px;
  padding:42px 12px;
  box-shadow: rgba(17, 17, 26, 0.1) 0px 8px 24px,
    rgba(17, 17, 26, 0.1) 0px 16px 56px, rgba(17, 17, 26, 0.1) 0px 24px 80px;
}

.main-heading-text {
  font-size: 18px;
  font-weight: 500;
  color: rgb(43, 41, 41);
  margin: 0;
}
